<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5">

    <!--ICONO -->
    <div class="mb-4">
        <h1 class="fw-bold">🗂️ Gestor de Proyectos</h1>
        <p class="text-muted">
            Organiza tus proyectos y tareas de manera simple y eficiente
        </p>
    </div>

    <!--BOTONES -->
    <div class="d-flex justify-content-center gap-3 mt-4">

        {% if user.is_authenticated %}
            <a href="{% url 'lista_proyectos' %}" class="btn btn-primary btn-lg">
                Ver Proyectos
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-success btn-lg">
                Iniciar Sesión
            </a>

            <a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">
                Registrarse
            </a>
        {% endif %}

    </div>

</div>

{% endblock %}